@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

:root {
    --font-family: 'Arial', sans-serif;
    --font-family-title: 'Playfair Display', serif;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #ffffff;
}